{
  "openapi": "3.1.0",
  "info": {
    "title": "Basketball Head Service",
    "description": "Basketball Head API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://basketball-head.p.rapidapi.com",
      "description": "RapidAPI public endpoint"
    },
    {
      "url": "/",
      "description": "Relative URL for the hosted Swagger UI"
    }
  ],
  "paths": {
    "/players/{player_id}": {
      "get": {
        "tags": [
          "Player Discovery"
        ],
        "summary": "GET /players/{player_id}",
        "description": "Get one player metadata record by Basketball Reference player ID, for example jamesle01.",
        "operationId": "getPlayerByPlayerId",
        "parameters": [
          {
            "description": "Basketball Reference player ID, for example jamesle01.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Player Id",
              "description": "Basketball Reference player ID, for example jamesle01.",
              "examples": [
                "jamesle01"
              ]
            },
            "name": "player_id",
            "in": "path"
          }
        ],
        "responses": {
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlayerByPlayerIdResponseDto"
                },
                "example": {
                  "body": {
                    "accolades": [],
                    "birthPlace": "Akron, Ohio",
                    "dateBorn": "December 30, 1984",
                    "draftInfo": "2003: Rd 1, Pk 1 (CLE)",
                    "firstName": "LeBron",
                    "headshotUrl": "https://www.basketball-reference.com/req/202106291/images/headshots/jamesle01.jpg",
                    "height": "6-9",
                    "hofInductionInfo": null,
                    "lastName": "James",
                    "nbaDebut": "October 29, 2003",
                    "playerId": "jamesle01",
                    "positions": "Small Forward, Power Forward, Point Guard",
                    "teams": [],
                    "weight": "250lb"
                  },
                  "responseCode": 200,
                  "totalItems": 1
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "body": {
                        "accolades": [],
                        "birthPlace": "Akron, Ohio",
                        "dateBorn": "December 30, 1984",
                        "draftInfo": "2003: Rd 1, Pk 1 (CLE)",
                        "firstName": "LeBron",
                        "headshotUrl": "https://www.basketball-reference.com/req/202106291/images/headshots/jamesle01.jpg",
                        "height": "6-9",
                        "hofInductionInfo": null,
                        "lastName": "James",
                        "nbaDebut": "October 29, 2003",
                        "playerId": "jamesle01",
                        "positions": "Small Forward, Power Forward, Point Guard",
                        "teams": [],
                        "weight": "250lb"
                      },
                      "responseCode": 200,
                      "totalItems": 1
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request GET 'https://basketball-head.p.rapidapi.com/players/jamesle01' \\\n  --header 'Content-Type: application/json' \\\n  --header 'x-rapidapi-host: basketball-head.p.rapidapi.com' \\\n  --header 'x-rapidapi-key: YOUR_RAPIDAPI_KEY'"
          }
        ]
      }
    },
    "/players/{player_id}/stats/PerGame": {
      "get": {
        "tags": [
          "Player Career Stats"
        ],
        "summary": "GET /players/{player_id}/stats/PerGame",
        "description": "Get per-game season stat rows for a player. Optional filters: seasonType can be Regular or Playoffs; seasonId must use YYYY-YYYY format, for example 2025-2026.",
        "operationId": "getPlayerPerGameStats",
        "parameters": [
          {
            "description": "Basketball Reference player ID, for example jamesle01.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Player Id",
              "description": "Basketball Reference player ID, for example jamesle01.",
              "examples": [
                "jamesle01"
              ]
            },
            "name": "player_id",
            "in": "path"
          },
          {
            "description": "Filter by season type. Valid values: Regular or Playoffs.",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Seasontype",
              "description": "Filter by season type. Valid values: Regular or Playoffs.",
              "examples": [
                "Regular"
              ]
            },
            "name": "seasonType",
            "in": "query"
          },
          {
            "description": "Filter by NBA season in YYYY-YYYY format, for example 2025-2026.",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{4}$"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Seasonid",
              "description": "Filter by NBA season in YYYY-YYYY format, for example 2025-2026.",
              "examples": [
                "2025-2026"
              ]
            },
            "name": "seasonId",
            "in": "query"
          }
        ],
        "responses": {
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlayerPerGameStatsResponseDto"
                },
                "example": {
                  "body": [
                    {
                      "age": "41",
                      "fieldGoalAttemptsPerGame": "17.2",
                      "fieldGoalPercentage": ".530",
                      "fieldGoalsMadePerGame": "9.1",
                      "gamesPlayed": "70",
                      "gamesStarted": "70",
                      "minutesPerGame": "34.9",
                      "playerId": "jamesle01",
                      "pointsPerGame": "24.4",
                      "position": "PF",
                      "season": "2025-2026",
                      "seasonType": "Regular",
                      "statType": "PerGame",
                      "team": "LAL"
                    }
                  ],
                  "responseCode": 200,
                  "totalItems": 1
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "body": [
                        {
                          "age": "41",
                          "fieldGoalAttemptsPerGame": "17.2",
                          "fieldGoalPercentage": ".530",
                          "fieldGoalsMadePerGame": "9.1",
                          "gamesPlayed": "70",
                          "gamesStarted": "70",
                          "minutesPerGame": "34.9",
                          "playerId": "jamesle01",
                          "pointsPerGame": "24.4",
                          "position": "PF",
                          "season": "2025-2026",
                          "seasonType": "Regular",
                          "statType": "PerGame",
                          "team": "LAL"
                        }
                      ],
                      "responseCode": 200,
                      "totalItems": 1
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request GET 'https://basketball-head.p.rapidapi.com/players/jamesle01/stats/PerGame?seasonType=Regular&seasonId=2025-2026' \\\n  --header 'Content-Type: application/json' \\\n  --header 'x-rapidapi-host: basketball-head.p.rapidapi.com' \\\n  --header 'x-rapidapi-key: YOUR_RAPIDAPI_KEY'"
          }
        ]
      }
    },
    "/players/{player_id}/stats/Totals": {
      "get": {
        "tags": [
          "Player Career Stats"
        ],
        "summary": "GET /players/{player_id}/stats/Totals",
        "description": "Get total season stat rows for a player. Optional filters: seasonType can be Regular or Playoffs; seasonId must use YYYY-YYYY format, for example 2025-2026.",
        "operationId": "getPlayerTotalStats",
        "parameters": [
          {
            "description": "Basketball Reference player ID, for example jamesle01.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Player Id",
              "description": "Basketball Reference player ID, for example jamesle01.",
              "examples": [
                "jamesle01"
              ]
            },
            "name": "player_id",
            "in": "path"
          },
          {
            "description": "Filter by season type. Valid values: Regular or Playoffs.",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Seasontype",
              "description": "Filter by season type. Valid values: Regular or Playoffs.",
              "examples": [
                "Regular"
              ]
            },
            "name": "seasonType",
            "in": "query"
          },
          {
            "description": "Filter by NBA season in YYYY-YYYY format, for example 2025-2026.",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{4}$"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Seasonid",
              "description": "Filter by NBA season in YYYY-YYYY format, for example 2025-2026.",
              "examples": [
                "2025-2026"
              ]
            },
            "name": "seasonId",
            "in": "query"
          }
        ],
        "responses": {
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlayerTotalStatsResponseDto"
                },
                "example": {
                  "body": [
                    {
                      "age": "41",
                      "fieldGoalPercentage": ".529",
                      "fieldGoalsAttempted": "1204",
                      "fieldGoalsMade": "637",
                      "gamesPlayed": "70",
                      "minutesPlayed": "2443",
                      "playerId": "jamesle01",
                      "position": "PF",
                      "season": "2025-2026",
                      "seasonType": "Regular",
                      "statType": "Totals",
                      "team": "LAL",
                      "totalPoints": "1708"
                    }
                  ],
                  "responseCode": 200,
                  "totalItems": 1
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "body": [
                        {
                          "age": "41",
                          "fieldGoalPercentage": ".529",
                          "fieldGoalsAttempted": "1204",
                          "fieldGoalsMade": "637",
                          "gamesPlayed": "70",
                          "minutesPlayed": "2443",
                          "playerId": "jamesle01",
                          "position": "PF",
                          "season": "2025-2026",
                          "seasonType": "Regular",
                          "statType": "Totals",
                          "team": "LAL",
                          "totalPoints": "1708"
                        }
                      ],
                      "responseCode": 200,
                      "totalItems": 1
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request GET 'https://basketball-head.p.rapidapi.com/players/jamesle01/stats/Totals?seasonType=Regular&seasonId=2025-2026' \\\n  --header 'Content-Type: application/json' \\\n  --header 'x-rapidapi-host: basketball-head.p.rapidapi.com' \\\n  --header 'x-rapidapi-key: YOUR_RAPIDAPI_KEY'"
          }
        ]
      }
    },
    "/players/{player_id}/stats/Per100": {
      "get": {
        "tags": [
          "Player Career Stats"
        ],
        "summary": "GET /players/{player_id}/stats/Per100",
        "description": "Get per-100-possession season stat rows for a player. Optional filters: seasonType can be Regular or Playoffs; seasonId must use YYYY-YYYY format, for example 2025-2026.",
        "operationId": "getPlayerPer100Stats",
        "parameters": [
          {
            "description": "Basketball Reference player ID, for example jamesle01.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Player Id",
              "description": "Basketball Reference player ID, for example jamesle01.",
              "examples": [
                "jamesle01"
              ]
            },
            "name": "player_id",
            "in": "path"
          },
          {
            "description": "Filter by season type. Valid values: Regular or Playoffs.",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Seasontype",
              "description": "Filter by season type. Valid values: Regular or Playoffs.",
              "examples": [
                "Regular"
              ]
            },
            "name": "seasonType",
            "in": "query"
          },
          {
            "description": "Filter by NBA season in YYYY-YYYY format, for example 2025-2026.",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{4}$"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Seasonid",
              "description": "Filter by NBA season in YYYY-YYYY format, for example 2025-2026.",
              "examples": [
                "2025-2026"
              ]
            },
            "name": "seasonId",
            "in": "query"
          }
        ],
        "responses": {
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlayerPer100StatsResponseDto"
                },
                "example": {
                  "body": [
                    {
                      "age": "41",
                      "assistsPer100Possessions": "11.8",
                      "playerId": "jamesle01",
                      "pointsPer100Possessions": "34.2",
                      "position": "PF",
                      "season": "2025-2026",
                      "seasonType": "Regular",
                      "statType": "Per100",
                      "team": "LAL",
                      "totalReboundsPer100Possessions": "10.9"
                    }
                  ],
                  "responseCode": 200,
                  "totalItems": 1
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "body": [
                        {
                          "age": "41",
                          "assistsPer100Possessions": "11.8",
                          "playerId": "jamesle01",
                          "pointsPer100Possessions": "34.2",
                          "position": "PF",
                          "season": "2025-2026",
                          "seasonType": "Regular",
                          "statType": "Per100",
                          "team": "LAL",
                          "totalReboundsPer100Possessions": "10.9"
                        }
                      ],
                      "responseCode": 200,
                      "totalItems": 1
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request GET 'https://basketball-head.p.rapidapi.com/players/jamesle01/stats/Per100?seasonType=Regular&seasonId=2025-2026' \\\n  --header 'Content-Type: application/json' \\\n  --header 'x-rapidapi-host: basketball-head.p.rapidapi.com' \\\n  --header 'x-rapidapi-key: YOUR_RAPIDAPI_KEY'"
          }
        ]
      }
    },
    "/players/{player_id}/stats/Per36": {
      "get": {
        "tags": [
          "Player Career Stats"
        ],
        "summary": "GET /players/{player_id}/stats/Per36",
        "description": "Get per-36-minute season stat rows for a player. Optional filters: seasonType can be Regular or Playoffs; seasonId must use YYYY-YYYY format, for example 2025-2026.",
        "operationId": "getPlayerPer36Stats",
        "parameters": [
          {
            "description": "Basketball Reference player ID, for example jamesle01.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Player Id",
              "description": "Basketball Reference player ID, for example jamesle01.",
              "examples": [
                "jamesle01"
              ]
            },
            "name": "player_id",
            "in": "path"
          },
          {
            "description": "Filter by season type. Valid values: Regular or Playoffs.",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Seasontype",
              "description": "Filter by season type. Valid values: Regular or Playoffs.",
              "examples": [
                "Regular"
              ]
            },
            "name": "seasonType",
            "in": "query"
          },
          {
            "description": "Filter by NBA season in YYYY-YYYY format, for example 2025-2026.",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{4}$"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Seasonid",
              "description": "Filter by NBA season in YYYY-YYYY format, for example 2025-2026.",
              "examples": [
                "2025-2026"
              ]
            },
            "name": "seasonId",
            "in": "query"
          }
        ],
        "responses": {
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlayerPer36StatsResponseDto"
                },
                "example": {
                  "body": [
                    {
                      "age": "41",
                      "assistsPer36Minutes": "8.7",
                      "playerId": "jamesle01",
                      "pointsPer36Minutes": "25.2",
                      "position": "PF",
                      "season": "2025-2026",
                      "seasonType": "Regular",
                      "statType": "Per36",
                      "team": "LAL",
                      "totalReboundsPer36Minutes": "8.0"
                    }
                  ],
                  "responseCode": 200,
                  "totalItems": 1
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "body": [
                        {
                          "age": "41",
                          "assistsPer36Minutes": "8.7",
                          "playerId": "jamesle01",
                          "pointsPer36Minutes": "25.2",
                          "position": "PF",
                          "season": "2025-2026",
                          "seasonType": "Regular",
                          "statType": "Per36",
                          "team": "LAL",
                          "totalReboundsPer36Minutes": "8.0"
                        }
                      ],
                      "responseCode": 200,
                      "totalItems": 1
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request GET 'https://basketball-head.p.rapidapi.com/players/jamesle01/stats/Per36?seasonType=Regular&seasonId=2025-2026' \\\n  --header 'Content-Type: application/json' \\\n  --header 'x-rapidapi-host: basketball-head.p.rapidapi.com' \\\n  --header 'x-rapidapi-key: YOUR_RAPIDAPI_KEY'"
          }
        ]
      }
    },
    "/players/{player_id}/stats/Advanced": {
      "get": {
        "tags": [
          "Player Career Stats"
        ],
        "summary": "GET /players/{player_id}/stats/Advanced",
        "description": "Get advanced season stat rows for a player. Optional filters: seasonType can be Regular or Playoffs; seasonId must use YYYY-YYYY format, for example 2025-2026.",
        "operationId": "getPlayerAdvancedStats",
        "parameters": [
          {
            "description": "Basketball Reference player ID, for example jamesle01.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Player Id",
              "description": "Basketball Reference player ID, for example jamesle01.",
              "examples": [
                "jamesle01"
              ]
            },
            "name": "player_id",
            "in": "path"
          },
          {
            "description": "Filter by season type. Valid values: Regular or Playoffs.",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Seasontype",
              "description": "Filter by season type. Valid values: Regular or Playoffs.",
              "examples": [
                "Regular"
              ]
            },
            "name": "seasonType",
            "in": "query"
          },
          {
            "description": "Filter by NBA season in YYYY-YYYY format, for example 2025-2026.",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "pattern": "^\\d{4}-\\d{4}$"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Seasonid",
              "description": "Filter by NBA season in YYYY-YYYY format, for example 2025-2026.",
              "examples": [
                "2025-2026"
              ]
            },
            "name": "seasonId",
            "in": "query"
          }
        ],
        "responses": {
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlayerAdvancedStatsResponseDto"
                },
                "example": {
                  "body": [
                    {
                      "age": "41",
                      "playerEfficiencyRating": "22.1",
                      "playerId": "jamesle01",
                      "position": "PF",
                      "season": "2025-2026",
                      "seasonType": "Regular",
                      "statType": "Advanced",
                      "team": "LAL",
                      "trueShootingPercentage": ".620",
                      "usagePercentage": "28.4",
                      "winShares": "8.2"
                    }
                  ],
                  "responseCode": 200,
                  "totalItems": 1
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "body": [
                        {
                          "age": "41",
                          "playerEfficiencyRating": "22.1",
                          "playerId": "jamesle01",
                          "position": "PF",
                          "season": "2025-2026",
                          "seasonType": "Regular",
                          "statType": "Advanced",
                          "team": "LAL",
                          "trueShootingPercentage": ".620",
                          "usagePercentage": "28.4",
                          "winShares": "8.2"
                        }
                      ],
                      "responseCode": 200,
                      "totalItems": 1
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request GET 'https://basketball-head.p.rapidapi.com/players/jamesle01/stats/Advanced?seasonType=Regular&seasonId=2025-2026' \\\n  --header 'Content-Type: application/json' \\\n  --header 'x-rapidapi-host: basketball-head.p.rapidapi.com' \\\n  --header 'x-rapidapi-key: YOUR_RAPIDAPI_KEY'"
          }
        ]
      }
    },
    "/players/{player_id}/stats/Salary": {
      "get": {
        "tags": [
          "Player Career Stats"
        ],
        "summary": "GET /players/{player_id}/stats/Salary",
        "description": "Get career salary rows for a player by Basketball Reference player ID, for example jamesle01.",
        "operationId": "getPlayerCareerSalaries",
        "parameters": [
          {
            "description": "Basketball Reference player ID, for example jamesle01.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Player Id",
              "description": "Basketball Reference player ID, for example jamesle01.",
              "examples": [
                "jamesle01"
              ]
            },
            "name": "player_id",
            "in": "path"
          }
        ],
        "responses": {
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlayerCareerSalariesResponseDto"
                },
                "example": {
                  "body": [
                    {
                      "playerId": "jamesle01",
                      "salary": "$52,627,153",
                      "season": "2025-2026",
                      "statType": "Salary",
                      "team": "LAL"
                    }
                  ],
                  "responseCode": 200,
                  "totalItems": 1
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "body": [
                        {
                          "playerId": "jamesle01",
                          "salary": "$52,627,153",
                          "season": "2025-2026",
                          "statType": "Salary",
                          "team": "LAL"
                        }
                      ],
                      "responseCode": 200,
                      "totalItems": 1
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request GET 'https://basketball-head.p.rapidapi.com/players/jamesle01/stats/Salary' \\\n  --header 'Content-Type: application/json' \\\n  --header 'x-rapidapi-host: basketball-head.p.rapidapi.com' \\\n  --header 'x-rapidapi-key: YOUR_RAPIDAPI_KEY'"
          }
        ]
      }
    },
    "/players/{player_id}/games": {
      "post": {
        "tags": [
          "Player Game Stats"
        ],
        "summary": "POST /players/{player_id}/games",
        "description": "List player game log rows for all available seasons with pagination support.\n\nUsage: player_id is a Basketball Reference player ID such as jamesle01. Omit lastEvaluatedKey on the first request.",
        "operationId": "listPlayerGames",
        "parameters": [
          {
            "description": "Basketball Reference player ID, for example jamesle01.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Player Id",
              "description": "Basketball Reference player ID, for example jamesle01.",
              "examples": [
                "jamesle01"
              ]
            },
            "name": "player_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPlayerGamesRequestDto"
              },
              "examples": {
                "firstPage": {
                  "summary": "First page",
                  "description": "Use this body for the first request. Do not send lastEvaluatedKey until a response returns one.",
                  "value": {
                    "pageSize": 25
                  }
                },
                "nextPage": {
                  "summary": "Next page",
                  "description": "Pass the exact lastEvaluatedKey object returned by the previous response.",
                  "value": {
                    "pageSize": 25,
                    "lastEvaluatedKey": {
                      "PK": {
                        "S": "Player"
                      },
                      "SK": {
                        "S": "jamesle01:Game:2025-2026:202510210LAL"
                      }
                    }
                  }
                }
              },
              "example": {
                "pageSize": 25
              }
            }
          },
          "required": true
        },
        "responses": {
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPlayerGamesResponseDto"
                },
                "example": {
                  "body": [
                    {
                      "age": "40-295",
                      "assists": "7",
                      "gameId": "202510210LAL",
                      "isPlayoffs": false,
                      "isStarter": true,
                      "minutesPlayed": "34:12",
                      "opponent": "GSW",
                      "playerId": "jamesle01",
                      "points": "25",
                      "result": "W (+7)",
                      "season": "2025-2026",
                      "statType": "Game",
                      "teamPlayed": "LAL",
                      "totalRebounds": "8"
                    }
                  ],
                  "lastEvaluatedKey": null,
                  "responseCode": 200,
                  "totalItems": 1
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "body": [
                        {
                          "age": "40-295",
                          "assists": "7",
                          "gameId": "202510210LAL",
                          "isPlayoffs": false,
                          "isStarter": true,
                          "minutesPlayed": "34:12",
                          "opponent": "GSW",
                          "playerId": "jamesle01",
                          "points": "25",
                          "result": "W (+7)",
                          "season": "2025-2026",
                          "statType": "Game",
                          "teamPlayed": "LAL",
                          "totalRebounds": "8"
                        }
                      ],
                      "lastEvaluatedKey": null,
                      "responseCode": 200,
                      "totalItems": 1
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request POST 'https://basketball-head.p.rapidapi.com/players/jamesle01/games' \\\n  --header 'Content-Type: application/json' \\\n  --header 'x-rapidapi-host: basketball-head.p.rapidapi.com' \\\n  --header 'x-rapidapi-key: YOUR_RAPIDAPI_KEY' \\\n  --data '{\"pageSize\":25}'"
          }
        ]
      }
    },
    "/players/{player_id}/games/{season_id}": {
      "post": {
        "tags": [
          "Player Game Stats"
        ],
        "summary": "POST /players/{player_id}/games/{season_id}",
        "description": "List player game log rows for one NBA season with pagination support. The season_id path value is the ending season year, for example 2026 for the 2025-2026 season.\n\nUsage: season_id is the ending season year, such as 2026 for the 2025-2026 NBA season.",
        "operationId": "listPlayerGamesBySeason",
        "parameters": [
          {
            "description": "Basketball Reference player ID, for example jamesle01.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Player Id",
              "description": "Basketball Reference player ID, for example jamesle01.",
              "examples": [
                "jamesle01"
              ]
            },
            "name": "player_id",
            "in": "path"
          },
          {
            "description": "Ending NBA season year, for example 2026 for the 2025-2026 season.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}$",
              "title": "Season Id",
              "description": "Ending NBA season year, for example 2026 for the 2025-2026 season.",
              "examples": [
                "2026"
              ]
            },
            "name": "season_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPlayerGamesBySeasonRequestDto"
              },
              "examples": {
                "firstPage": {
                  "summary": "First page",
                  "description": "Use this body for the first request. Do not send lastEvaluatedKey until a response returns one.",
                  "value": {
                    "pageSize": 25
                  }
                },
                "nextPage": {
                  "summary": "Next page",
                  "description": "Pass the exact lastEvaluatedKey object returned by the previous response.",
                  "value": {
                    "pageSize": 25,
                    "lastEvaluatedKey": {
                      "PK": {
                        "S": "Player"
                      },
                      "SK": {
                        "S": "jamesle01:Game:2025-2026:202510210LAL"
                      }
                    }
                  }
                }
              },
              "example": {
                "pageSize": 25
              }
            }
          },
          "required": true
        },
        "responses": {
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPlayerGamesBySeasonResponseDto"
                },
                "example": {
                  "body": [
                    {
                      "age": "40-295",
                      "assists": "7",
                      "gameId": "202510210LAL",
                      "isPlayoffs": false,
                      "isStarter": true,
                      "minutesPlayed": "34:12",
                      "opponent": "GSW",
                      "playerId": "jamesle01",
                      "points": "25",
                      "result": "W (+7)",
                      "season": "2025-2026",
                      "statType": "Game",
                      "teamPlayed": "LAL",
                      "totalRebounds": "8"
                    }
                  ],
                  "lastEvaluatedKey": null,
                  "responseCode": 200,
                  "totalItems": 1
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "body": [
                        {
                          "age": "40-295",
                          "assists": "7",
                          "gameId": "202510210LAL",
                          "isPlayoffs": false,
                          "isStarter": true,
                          "minutesPlayed": "34:12",
                          "opponent": "GSW",
                          "playerId": "jamesle01",
                          "points": "25",
                          "result": "W (+7)",
                          "season": "2025-2026",
                          "statType": "Game",
                          "teamPlayed": "LAL",
                          "totalRebounds": "8"
                        }
                      ],
                      "lastEvaluatedKey": null,
                      "responseCode": 200,
                      "totalItems": 1
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request POST 'https://basketball-head.p.rapidapi.com/players/jamesle01/games/2026' \\\n  --header 'Content-Type: application/json' \\\n  --header 'x-rapidapi-host: basketball-head.p.rapidapi.com' \\\n  --header 'x-rapidapi-key: YOUR_RAPIDAPI_KEY' \\\n  --data '{\"pageSize\":25}'"
          }
        ]
      }
    },
    "/teams/{team_id}/metadata/{season_id}": {
      "get": {
        "tags": [
          "Team Information"
        ],
        "summary": "GET /teams/{team_id}/metadata/{season_id}",
        "description": "Get team metadata by team ID and season. The season_id path value must use YYYY-YYYY format, for example 2025-2026.",
        "operationId": "getTeamMetadata",
        "parameters": [
          {
            "description": "Basketball Reference team ID, for example LAL.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Team Id",
              "description": "Basketball Reference team ID, for example LAL.",
              "examples": [
                "LAL"
              ]
            },
            "name": "team_id",
            "in": "path"
          },
          {
            "description": "NBA season in YYYY-YYYY format, for example 2025-2026.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{4}$",
              "title": "Season Id",
              "description": "NBA season in YYYY-YYYY format, for example 2025-2026.",
              "examples": [
                "2025-2026"
              ]
            },
            "name": "season_id",
            "in": "path"
          }
        ],
        "responses": {
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTeamMetadataResponseDto"
                },
                "example": {
                  "body": {
                    "arena": "Crypto.com Arena",
                    "capacity": "18,997",
                    "coach": "JJ Redick",
                    "executive": "Rob Pelinka",
                    "lastGameInfo": "Won NBA Western Conference First Round",
                    "logoImage": "https://cdn.ssref.net/req/202505091/tlogo/bbr/LAL.png",
                    "nextGameInfo": null,
                    "ranking": "3rd in Western Conference",
                    "record": "50-32",
                    "seasonId": "2025-2026",
                    "teamId": "LAL"
                  },
                  "responseCode": 200,
                  "totalItems": 1
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "body": {
                        "arena": "Crypto.com Arena",
                        "capacity": "18,997",
                        "coach": "JJ Redick",
                        "executive": "Rob Pelinka",
                        "lastGameInfo": "Won NBA Western Conference First Round",
                        "logoImage": "https://cdn.ssref.net/req/202505091/tlogo/bbr/LAL.png",
                        "nextGameInfo": null,
                        "ranking": "3rd in Western Conference",
                        "record": "50-32",
                        "seasonId": "2025-2026",
                        "teamId": "LAL"
                      },
                      "responseCode": 200,
                      "totalItems": 1
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request GET 'https://basketball-head.p.rapidapi.com/teams/LAL/metadata/2025-2026' \\\n  --header 'Content-Type: application/json' \\\n  --header 'x-rapidapi-host: basketball-head.p.rapidapi.com' \\\n  --header 'x-rapidapi-key: YOUR_RAPIDAPI_KEY'"
          }
        ]
      }
    },
    "/teams/{team_id}/roster/{season_id}": {
      "get": {
        "tags": [
          "Team Information"
        ],
        "summary": "GET /teams/{team_id}/roster/{season_id}",
        "description": "Get team roster by team ID and season. The season_id path value must use YYYY-YYYY format, for example 2025-2026.",
        "operationId": "getTeamRoster",
        "parameters": [
          {
            "description": "Basketball Reference team ID, for example LAL.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Team Id",
              "description": "Basketball Reference team ID, for example LAL.",
              "examples": [
                "LAL"
              ]
            },
            "name": "team_id",
            "in": "path"
          },
          {
            "description": "NBA season in YYYY-YYYY format, for example 2025-2026.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{4}$",
              "title": "Season Id",
              "description": "NBA season in YYYY-YYYY format, for example 2025-2026.",
              "examples": [
                "2025-2026"
              ]
            },
            "name": "season_id",
            "in": "path"
          }
        ],
        "responses": {
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTeamRosterResponseDto"
                },
                "example": {
                  "body": {
                    "roster": [
                      {
                        "number": "23",
                        "player": "LeBron James",
                        "position": "PF"
                      }
                    ],
                    "seasonId": "2025-2026",
                    "teamId": "LAL"
                  },
                  "responseCode": 200,
                  "totalItems": 1
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "body": {
                        "roster": [
                          {
                            "number": "23",
                            "player": "LeBron James",
                            "position": "PF"
                          }
                        ],
                        "seasonId": "2025-2026",
                        "teamId": "LAL"
                      },
                      "responseCode": 200,
                      "totalItems": 1
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request GET 'https://basketball-head.p.rapidapi.com/teams/LAL/roster/2025-2026' \\\n  --header 'Content-Type: application/json' \\\n  --header 'x-rapidapi-host: basketball-head.p.rapidapi.com' \\\n  --header 'x-rapidapi-key: YOUR_RAPIDAPI_KEY'"
          }
        ]
      }
    },
    "/teams/{team_id}/schedule/{season_id}": {
      "get": {
        "tags": [
          "Team Information"
        ],
        "summary": "GET /teams/{team_id}/schedule/{season_id}",
        "description": "Get team schedule by team ID and season. The season_id path value must use YYYY-YYYY format, for example 2025-2026.",
        "operationId": "getTeamSchedule",
        "parameters": [
          {
            "description": "Basketball Reference team ID, for example LAL.",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Team Id",
              "description": "Basketball Reference team ID, for example LAL.",
              "examples": [
                "LAL"
              ]
            },
            "name": "team_id",
            "in": "path"
          },
          {
            "description": "NBA season in YYYY-YYYY format, for example 2025-2026.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{4}$",
              "title": "Season Id",
              "description": "NBA season in YYYY-YYYY format, for example 2025-2026.",
              "examples": [
                "2025-2026"
              ]
            },
            "name": "season_id",
            "in": "path"
          }
        ],
        "responses": {
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTeamScheduleResponseDto"
                },
                "example": {
                  "body": {
                    "schedule": [
                      {
                        "gameDate": "2025-10-21",
                        "opponent": "GSW",
                        "result": "W"
                      }
                    ],
                    "seasonId": "2025-2026",
                    "teamId": "LAL"
                  },
                  "responseCode": 200,
                  "totalItems": 1
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "body": {
                        "schedule": [
                          {
                            "gameDate": "2025-10-21",
                            "opponent": "GSW",
                            "result": "W"
                          }
                        ],
                        "seasonId": "2025-2026",
                        "teamId": "LAL"
                      },
                      "responseCode": 200,
                      "totalItems": 1
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request GET 'https://basketball-head.p.rapidapi.com/teams/LAL/schedule/2025-2026' \\\n  --header 'Content-Type: application/json' \\\n  --header 'x-rapidapi-host: basketball-head.p.rapidapi.com' \\\n  --header 'x-rapidapi-key: YOUR_RAPIDAPI_KEY'"
          }
        ]
      }
    },
    "/players": {
      "post": {
        "tags": [
          "Player Discovery"
        ],
        "summary": "POST /players",
        "description": "List player metadata records with pagination support. Use this endpoint for broad player discovery.\n\nUsage: send pageSize between 1 and 100. Omit lastEvaluatedKey on the first request.",
        "operationId": "listPlayers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPlayersRequestDto"
              },
              "examples": {
                "firstPage": {
                  "summary": "First page",
                  "description": "Use this body for the first request. Do not send lastEvaluatedKey until a response returns one.",
                  "value": {
                    "pageSize": 25
                  }
                },
                "nextPage": {
                  "summary": "Next page",
                  "description": "Pass the exact lastEvaluatedKey object returned by the previous response.",
                  "value": {
                    "pageSize": 25,
                    "lastEvaluatedKey": {
                      "PK": {
                        "S": "Player"
                      },
                      "SK": {
                        "S": "jamesle01:Game:2025-2026:202510210LAL"
                      }
                    }
                  }
                }
              },
              "example": {
                "pageSize": 25
              }
            }
          },
          "required": true
        },
        "responses": {
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPlayersResponseDto"
                },
                "example": {
                  "body": [
                    {
                      "accolades": [],
                      "birthPlace": "Akron, Ohio",
                      "dateBorn": "December 30, 1984",
                      "draftInfo": "2003: Rd 1, Pk 1 (CLE)",
                      "firstName": "LeBron",
                      "headshotUrl": "https://www.basketball-reference.com/req/202106291/images/headshots/jamesle01.jpg",
                      "height": "6-9",
                      "hofInductionInfo": null,
                      "lastName": "James",
                      "nbaDebut": "October 29, 2003",
                      "playerId": "jamesle01",
                      "positions": "Small Forward, Power Forward, Point Guard",
                      "teams": [],
                      "weight": "250lb"
                    }
                  ],
                  "lastEvaluatedKey": null,
                  "responseCode": 200,
                  "totalItems": 1
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "body": [
                        {
                          "accolades": [],
                          "birthPlace": "Akron, Ohio",
                          "dateBorn": "December 30, 1984",
                          "draftInfo": "2003: Rd 1, Pk 1 (CLE)",
                          "firstName": "LeBron",
                          "headshotUrl": "https://www.basketball-reference.com/req/202106291/images/headshots/jamesle01.jpg",
                          "height": "6-9",
                          "hofInductionInfo": null,
                          "lastName": "James",
                          "nbaDebut": "October 29, 2003",
                          "playerId": "jamesle01",
                          "positions": "Small Forward, Power Forward, Point Guard",
                          "teams": [],
                          "weight": "250lb"
                        }
                      ],
                      "lastEvaluatedKey": null,
                      "responseCode": 200,
                      "totalItems": 1
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request POST 'https://basketball-head.p.rapidapi.com/players' \\\n  --header 'Content-Type: application/json' \\\n  --header 'x-rapidapi-host: basketball-head.p.rapidapi.com' \\\n  --header 'x-rapidapi-key: YOUR_RAPIDAPI_KEY' \\\n  --data '{\"pageSize\":25}'"
          }
        ]
      }
    },
    "/players/search": {
      "post": {
        "tags": [
          "Player Discovery"
        ],
        "summary": "POST /players/search",
        "description": "List player metadata records matching a lowercase request body field named firstname and optional lastname prefix.\n\nUsage: firstname is required. lastname is optional and narrows the prefix lookup.",
        "operationId": "listPlayersByFirstName",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPlayersByFirstNameRequestDto"
              },
              "examples": {
                "byFullName": {
                  "summary": "Search by first and last name",
                  "value": {
                    "firstname": "LeBron",
                    "lastname": "James",
                    "pageSize": 25
                  }
                },
                "byFirstNameOnly": {
                  "summary": "Search by first name only",
                  "value": {
                    "firstname": "Anthony",
                    "pageSize": 25
                  }
                }
              },
              "example": {
                "firstname": "LeBron",
                "lastname": "James",
                "pageSize": 25
              }
            }
          },
          "required": true
        },
        "responses": {
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPlayersByFirstNameResponseDto"
                },
                "example": {
                  "body": [
                    {
                      "accolades": [],
                      "birthPlace": "Akron, Ohio",
                      "dateBorn": "December 30, 1984",
                      "draftInfo": "2003: Rd 1, Pk 1 (CLE)",
                      "firstName": "LeBron",
                      "headshotUrl": "https://www.basketball-reference.com/req/202106291/images/headshots/jamesle01.jpg",
                      "height": "6-9",
                      "hofInductionInfo": null,
                      "lastName": "James",
                      "nbaDebut": "October 29, 2003",
                      "playerId": "jamesle01",
                      "positions": "Small Forward, Power Forward, Point Guard",
                      "teams": [],
                      "weight": "250lb"
                    }
                  ],
                  "lastEvaluatedKey": null,
                  "pageSize": 25,
                  "responseCode": 200,
                  "totalItems": 1
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "body": [
                        {
                          "accolades": [],
                          "birthPlace": "Akron, Ohio",
                          "dateBorn": "December 30, 1984",
                          "draftInfo": "2003: Rd 1, Pk 1 (CLE)",
                          "firstName": "LeBron",
                          "headshotUrl": "https://www.basketball-reference.com/req/202106291/images/headshots/jamesle01.jpg",
                          "height": "6-9",
                          "hofInductionInfo": null,
                          "lastName": "James",
                          "nbaDebut": "October 29, 2003",
                          "playerId": "jamesle01",
                          "positions": "Small Forward, Power Forward, Point Guard",
                          "teams": [],
                          "weight": "250lb"
                        }
                      ],
                      "lastEvaluatedKey": null,
                      "pageSize": 25,
                      "responseCode": 200,
                      "totalItems": 1
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request POST 'https://basketball-head.p.rapidapi.com/players/search' \\\n  --header 'Content-Type: application/json' \\\n  --header 'x-rapidapi-host: basketball-head.p.rapidapi.com' \\\n  --header 'x-rapidapi-key: YOUR_RAPIDAPI_KEY' \\\n  --data '{\"firstname\":\"LeBron\",\"lastname\":\"James\",\"pageSize\":25}'"
          }
        ]
      }
    },
    "/players/full-text-search": {
      "post": {
        "tags": [
          "Player Discovery"
        ],
        "summary": "POST /players/full-text-search",
        "description": "Search player metadata records by name using the Meilisearch full-text index.\n\nUsage: query is a full-text player name search. Use offset with pageSize for search pagination.",
        "operationId": "searchPlayerMetadata",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchPlayerMetadataRequestDto"
              },
              "examples": {
                "fullName": {
                  "summary": "Full-text name search",
                  "value": {
                    "query": "lebron james",
                    "pageSize": 10,
                    "offset": 0
                  }
                },
                "partialName": {
                  "summary": "Partial or prefix search",
                  "value": {
                    "query": "anthony ed",
                    "pageSize": 10,
                    "offset": 0
                  }
                }
              },
              "example": {
                "query": "lebron james",
                "pageSize": 10,
                "offset": 0
              }
            }
          },
          "required": true
        },
        "responses": {
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchPlayerMetadataResponseDto"
                },
                "example": {
                  "body": [
                    {
                      "accolades": [],
                      "birthPlace": "Akron, Ohio",
                      "dateBorn": "December 30, 1984",
                      "draftInfo": "2003: Rd 1, Pk 1 (CLE)",
                      "firstName": "LeBron",
                      "headshotUrl": "https://www.basketball-reference.com/req/202106291/images/headshots/jamesle01.jpg",
                      "height": "6-9",
                      "hofInductionInfo": null,
                      "lastName": "James",
                      "nbaDebut": "October 29, 2003",
                      "playerId": "jamesle01",
                      "positions": "Small Forward, Power Forward, Point Guard",
                      "teams": [],
                      "weight": "250lb"
                    }
                  ],
                  "responseCode": 200,
                  "totalItems": 1
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "body": [
                        {
                          "accolades": [],
                          "birthPlace": "Akron, Ohio",
                          "dateBorn": "December 30, 1984",
                          "draftInfo": "2003: Rd 1, Pk 1 (CLE)",
                          "firstName": "LeBron",
                          "headshotUrl": "https://www.basketball-reference.com/req/202106291/images/headshots/jamesle01.jpg",
                          "height": "6-9",
                          "hofInductionInfo": null,
                          "lastName": "James",
                          "nbaDebut": "October 29, 2003",
                          "playerId": "jamesle01",
                          "positions": "Small Forward, Power Forward, Point Guard",
                          "teams": [],
                          "weight": "250lb"
                        }
                      ],
                      "responseCode": 200,
                      "totalItems": 1
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request POST 'https://basketball-head.p.rapidapi.com/players/full-text-search' \\\n  --header 'Content-Type: application/json' \\\n  --header 'x-rapidapi-host: basketball-head.p.rapidapi.com' \\\n  --header 'x-rapidapi-key: YOUR_RAPIDAPI_KEY' \\\n  --data '{\"query\":\"lebron james\",\"pageSize\":10,\"offset\":0}'"
          }
        ]
      }
    },
    "/players/lastname": {
      "post": {
        "tags": [
          "Player Discovery"
        ],
        "summary": "POST /players/lastname",
        "description": "List player metadata records matching a last name prefix with pagination support.\n\nUsage: prefix is a case-insensitive last-name prefix.",
        "operationId": "listPlayersByLastName",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPlayersByLastNameRequestDto"
              },
              "examples": {
                "lastNamePrefix": {
                  "summary": "Search by last name prefix",
                  "value": {
                    "prefix": "James",
                    "pageSize": 25
                  }
                }
              },
              "example": {
                "prefix": "James",
                "pageSize": 25
              }
            }
          },
          "required": true
        },
        "responses": {
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPlayersByLastNameResponseDto"
                },
                "example": {
                  "body": [
                    {
                      "accolades": [],
                      "birthPlace": "Akron, Ohio",
                      "dateBorn": "December 30, 1984",
                      "draftInfo": "2003: Rd 1, Pk 1 (CLE)",
                      "firstName": "LeBron",
                      "headshotUrl": "https://www.basketball-reference.com/req/202106291/images/headshots/jamesle01.jpg",
                      "height": "6-9",
                      "hofInductionInfo": null,
                      "lastName": "James",
                      "nbaDebut": "October 29, 2003",
                      "playerId": "jamesle01",
                      "positions": "Small Forward, Power Forward, Point Guard",
                      "teams": [],
                      "weight": "250lb"
                    }
                  ],
                  "lastEvaluatedKey": null,
                  "pageSize": 25,
                  "responseCode": 200,
                  "totalItems": 1
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "body": [
                        {
                          "accolades": [],
                          "birthPlace": "Akron, Ohio",
                          "dateBorn": "December 30, 1984",
                          "draftInfo": "2003: Rd 1, Pk 1 (CLE)",
                          "firstName": "LeBron",
                          "headshotUrl": "https://www.basketball-reference.com/req/202106291/images/headshots/jamesle01.jpg",
                          "height": "6-9",
                          "hofInductionInfo": null,
                          "lastName": "James",
                          "nbaDebut": "October 29, 2003",
                          "playerId": "jamesle01",
                          "positions": "Small Forward, Power Forward, Point Guard",
                          "teams": [],
                          "weight": "250lb"
                        }
                      ],
                      "lastEvaluatedKey": null,
                      "pageSize": 25,
                      "responseCode": 200,
                      "totalItems": 1
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl --request POST 'https://basketball-head.p.rapidapi.com/players/lastname' \\\n  --header 'Content-Type: application/json' \\\n  --header 'x-rapidapi-host: basketball-head.p.rapidapi.com' \\\n  --header 'x-rapidapi-key: YOUR_RAPIDAPI_KEY' \\\n  --data '{\"prefix\":\"James\",\"pageSize\":25}'"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "GetPlayerAdvancedStatsResponseDto": {
        "properties": {
          "body": {
            "items": {
              "$ref": "#/components/schemas/PlayerAdvancedDto"
            },
            "type": "array",
            "title": "Body"
          },
          "totalItems": {
            "type": "integer",
            "title": "Totalitems"
          },
          "responseCode": {
            "type": "integer",
            "title": "Responsecode",
            "default": 200
          }
        },
        "type": "object",
        "required": [
          "body",
          "totalItems"
        ],
        "title": "GetPlayerAdvancedStatsResponseDto",
        "examples": [
          {
            "body": [
              {
                "age": "41",
                "playerEfficiencyRating": "22.1",
                "playerId": "jamesle01",
                "position": "PF",
                "season": "2025-2026",
                "seasonType": "Regular",
                "statType": "Advanced",
                "team": "LAL",
                "trueShootingPercentage": ".620",
                "usagePercentage": "28.4",
                "winShares": "8.2"
              }
            ],
            "responseCode": 200,
            "totalItems": 1
          }
        ]
      },
      "GetPlayerByPlayerIdResponseDto": {
        "properties": {
          "body": {
            "$ref": "#/components/schemas/PlayerMetadataDto"
          },
          "totalItems": {
            "type": "integer",
            "title": "Totalitems"
          },
          "responseCode": {
            "type": "integer",
            "title": "Responsecode",
            "default": 200
          }
        },
        "type": "object",
        "required": [
          "body",
          "totalItems"
        ],
        "title": "GetPlayerByPlayerIdResponseDto",
        "examples": [
          {
            "body": {
              "accolades": [],
              "birthPlace": "Akron, Ohio",
              "dateBorn": "December 30, 1984",
              "draftInfo": "2003: Rd 1, Pk 1 (CLE)",
              "firstName": "LeBron",
              "headshotUrl": "https://www.basketball-reference.com/req/202106291/images/headshots/jamesle01.jpg",
              "height": "6-9",
              "hofInductionInfo": null,
              "lastName": "James",
              "nbaDebut": "October 29, 2003",
              "playerId": "jamesle01",
              "positions": "Small Forward, Power Forward, Point Guard",
              "teams": [],
              "weight": "250lb"
            },
            "responseCode": 200,
            "totalItems": 1
          }
        ]
      },
      "GetPlayerCareerSalariesResponseDto": {
        "properties": {
          "body": {
            "items": {
              "$ref": "#/components/schemas/PlayerSalaryDto"
            },
            "type": "array",
            "title": "Body"
          },
          "totalItems": {
            "type": "integer",
            "title": "Totalitems"
          },
          "responseCode": {
            "type": "integer",
            "title": "Responsecode",
            "default": 200
          }
        },
        "type": "object",
        "required": [
          "body",
          "totalItems"
        ],
        "title": "GetPlayerCareerSalariesResponseDto",
        "examples": [
          {
            "body": [
              {
                "playerId": "jamesle01",
                "salary": "$52,627,153",
                "season": "2025-2026",
                "statType": "Salary",
                "team": "LAL"
              }
            ],
            "responseCode": 200,
            "totalItems": 1
          }
        ]
      },
      "GetPlayerPer100StatsResponseDto": {
        "properties": {
          "body": {
            "items": {
              "$ref": "#/components/schemas/PlayerPer100Dto"
            },
            "type": "array",
            "title": "Body"
          },
          "totalItems": {
            "type": "integer",
            "title": "Totalitems"
          },
          "responseCode": {
            "type": "integer",
            "title": "Responsecode",
            "default": 200
          }
        },
        "type": "object",
        "required": [
          "body",
          "totalItems"
        ],
        "title": "GetPlayerPer100StatsResponseDto",
        "examples": [
          {
            "body": [
              {
                "age": "41",
                "assistsPer100Possessions": "11.8",
                "playerId": "jamesle01",
                "pointsPer100Possessions": "34.2",
                "position": "PF",
                "season": "2025-2026",
                "seasonType": "Regular",
                "statType": "Per100",
                "team": "LAL",
                "totalReboundsPer100Possessions": "10.9"
              }
            ],
            "responseCode": 200,
            "totalItems": 1
          }
        ]
      },
      "GetPlayerPer36StatsResponseDto": {
        "properties": {
          "body": {
            "items": {
              "$ref": "#/components/schemas/PlayerPer36Dto"
            },
            "type": "array",
            "title": "Body"
          },
          "totalItems": {
            "type": "integer",
            "title": "Totalitems"
          },
          "responseCode": {
            "type": "integer",
            "title": "Responsecode",
            "default": 200
          }
        },
        "type": "object",
        "required": [
          "body",
          "totalItems"
        ],
        "title": "GetPlayerPer36StatsResponseDto",
        "examples": [
          {
            "body": [
              {
                "age": "41",
                "assistsPer36Minutes": "8.7",
                "playerId": "jamesle01",
                "pointsPer36Minutes": "25.2",
                "position": "PF",
                "season": "2025-2026",
                "seasonType": "Regular",
                "statType": "Per36",
                "team": "LAL",
                "totalReboundsPer36Minutes": "8.0"
              }
            ],
            "responseCode": 200,
            "totalItems": 1
          }
        ]
      },
      "GetPlayerPerGameStatsResponseDto": {
        "properties": {
          "body": {
            "items": {
              "$ref": "#/components/schemas/PlayerPerGameDto"
            },
            "type": "array",
            "title": "Body"
          },
          "totalItems": {
            "type": "integer",
            "title": "Totalitems"
          },
          "responseCode": {
            "type": "integer",
            "title": "Responsecode",
            "default": 200
          }
        },
        "type": "object",
        "required": [
          "body",
          "totalItems"
        ],
        "title": "GetPlayerPerGameStatsResponseDto",
        "examples": [
          {
            "body": [
              {
                "age": "41",
                "fieldGoalAttemptsPerGame": "17.2",
                "fieldGoalPercentage": ".530",
                "fieldGoalsMadePerGame": "9.1",
                "gamesPlayed": "70",
                "gamesStarted": "70",
                "minutesPerGame": "34.9",
                "playerId": "jamesle01",
                "pointsPerGame": "24.4",
                "position": "PF",
                "season": "2025-2026",
                "seasonType": "Regular",
                "statType": "PerGame",
                "team": "LAL"
              }
            ],
            "responseCode": 200,
            "totalItems": 1
          }
        ]
      },
      "GetPlayerTotalStatsResponseDto": {
        "properties": {
          "body": {
            "items": {
              "$ref": "#/components/schemas/PlayerTotalsDto"
            },
            "type": "array",
            "title": "Body"
          },
          "totalItems": {
            "type": "integer",
            "title": "Totalitems"
          },
          "responseCode": {
            "type": "integer",
            "title": "Responsecode",
            "default": 200
          }
        },
        "type": "object",
        "required": [
          "body",
          "totalItems"
        ],
        "title": "GetPlayerTotalStatsResponseDto",
        "examples": [
          {
            "body": [
              {
                "age": "41",
                "fieldGoalPercentage": ".529",
                "fieldGoalsAttempted": "1204",
                "fieldGoalsMade": "637",
                "gamesPlayed": "70",
                "minutesPlayed": "2443",
                "playerId": "jamesle01",
                "position": "PF",
                "season": "2025-2026",
                "seasonType": "Regular",
                "statType": "Totals",
                "team": "LAL",
                "totalPoints": "1708"
              }
            ],
            "responseCode": 200,
            "totalItems": 1
          }
        ]
      },
      "GetTeamMetadataResponseDto": {
        "properties": {
          "body": {
            "$ref": "#/components/schemas/TeamMetadataDto"
          },
          "totalItems": {
            "type": "integer",
            "title": "Totalitems"
          },
          "responseCode": {
            "type": "integer",
            "title": "Responsecode",
            "default": 200
          }
        },
        "type": "object",
        "required": [
          "body",
          "totalItems"
        ],
        "title": "GetTeamMetadataResponseDto",
        "examples": [
          {
            "body": {
              "arena": "Crypto.com Arena",
              "capacity": "18,997",
              "coach": "JJ Redick",
              "executive": "Rob Pelinka",
              "lastGameInfo": "Won NBA Western Conference First Round",
              "logoImage": "https://cdn.ssref.net/req/202505091/tlogo/bbr/LAL.png",
              "nextGameInfo": null,
              "ranking": "3rd in Western Conference",
              "record": "50-32",
              "seasonId": "2025-2026",
              "teamId": "LAL"
            },
            "responseCode": 200,
            "totalItems": 1
          }
        ]
      },
      "GetTeamRosterResponseDto": {
        "properties": {
          "body": {
            "$ref": "#/components/schemas/TeamRosterDto"
          },
          "totalItems": {
            "type": "integer",
            "title": "Totalitems"
          },
          "responseCode": {
            "type": "integer",
            "title": "Responsecode",
            "default": 200
          }
        },
        "type": "object",
        "required": [
          "body",
          "totalItems"
        ],
        "title": "GetTeamRosterResponseDto",
        "examples": [
          {
            "body": {
              "roster": [
                {
                  "number": "23",
                  "player": "LeBron James",
                  "position": "PF"
                }
              ],
              "seasonId": "2025-2026",
              "teamId": "LAL"
            },
            "responseCode": 200,
            "totalItems": 1
          }
        ]
      },
      "GetTeamScheduleResponseDto": {
        "properties": {
          "body": {
            "$ref": "#/components/schemas/TeamScheduleDto"
          },
          "totalItems": {
            "type": "integer",
            "title": "Totalitems"
          },
          "responseCode": {
            "type": "integer",
            "title": "Responsecode",
            "default": 200
          }
        },
        "type": "object",
        "required": [
          "body",
          "totalItems"
        ],
        "title": "GetTeamScheduleResponseDto",
        "examples": [
          {
            "body": {
              "schedule": [
                {
                  "gameDate": "2025-10-21",
                  "opponent": "GSW",
                  "result": "W"
                }
              ],
              "seasonId": "2025-2026",
              "teamId": "LAL"
            },
            "responseCode": 200,
            "totalItems": 1
          }
        ]
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ListPlayerGamesBySeasonRequestDto": {
        "properties": {
          "pageSize": {
            "type": "integer",
            "maximum": 100.0,
            "minimum": 1.0,
            "title": "Pagesize",
            "description": "Number of records to return. Must be between 1 and 100.",
            "default": 50
          },
          "lastEvaluatedKey": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Lastevaluatedkey",
            "description": "Omit on the first request. For the next page, pass the exact lastEvaluatedKey object returned by the previous response."
          }
        },
        "type": "object",
        "title": "ListPlayerGamesBySeasonRequestDto",
        "examples": [
          {
            "pageSize": 25
          }
        ]
      },
      "ListPlayerGamesBySeasonResponseDto": {
        "properties": {
          "body": {
            "items": {
              "$ref": "#/components/schemas/PlayerGameDto"
            },
            "type": "array",
            "title": "Body"
          },
          "lastEvaluatedKey": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Lastevaluatedkey"
          },
          "totalItems": {
            "type": "integer",
            "title": "Totalitems"
          },
          "responseCode": {
            "type": "integer",
            "title": "Responsecode",
            "default": 200
          }
        },
        "type": "object",
        "required": [
          "body",
          "totalItems"
        ],
        "title": "ListPlayerGamesBySeasonResponseDto",
        "examples": [
          {
            "body": [
              {
                "age": "40-295",
                "assists": "7",
                "gameId": "202510210LAL",
                "isPlayoffs": false,
                "isStarter": true,
                "minutesPlayed": "34:12",
                "opponent": "GSW",
                "playerId": "jamesle01",
                "points": "25",
                "result": "W (+7)",
                "season": "2025-2026",
                "statType": "Game",
                "teamPlayed": "LAL",
                "totalRebounds": "8"
              }
            ],
            "lastEvaluatedKey": null,
            "responseCode": 200,
            "totalItems": 1
          }
        ]
      },
      "ListPlayerGamesRequestDto": {
        "properties": {
          "pageSize": {
            "type": "integer",
            "maximum": 100.0,
            "minimum": 1.0,
            "title": "Pagesize",
            "description": "Number of records to return. Must be between 1 and 100.",
            "default": 50
          },
          "lastEvaluatedKey": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Lastevaluatedkey",
            "description": "Omit on the first request. For the next page, pass the exact lastEvaluatedKey object returned by the previous response."
          }
        },
        "type": "object",
        "title": "ListPlayerGamesRequestDto",
        "examples": [
          {
            "pageSize": 25
          }
        ]
      },
      "ListPlayerGamesResponseDto": {
        "properties": {
          "body": {
            "items": {
              "$ref": "#/components/schemas/PlayerGameDto"
            },
            "type": "array",
            "title": "Body"
          },
          "lastEvaluatedKey": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Lastevaluatedkey"
          },
          "totalItems": {
            "type": "integer",
            "title": "Totalitems"
          },
          "responseCode": {
            "type": "integer",
            "title": "Responsecode",
            "default": 200
          }
        },
        "type": "object",
        "required": [
          "body",
          "totalItems"
        ],
        "title": "ListPlayerGamesResponseDto",
        "examples": [
          {
            "body": [
              {
                "age": "40-295",
                "assists": "7",
                "gameId": "202510210LAL",
                "isPlayoffs": false,
                "isStarter": true,
                "minutesPlayed": "34:12",
                "opponent": "GSW",
                "playerId": "jamesle01",
                "points": "25",
                "result": "W (+7)",
                "season": "2025-2026",
                "statType": "Game",
                "teamPlayed": "LAL",
                "totalRebounds": "8"
              }
            ],
            "lastEvaluatedKey": null,
            "responseCode": 200,
            "totalItems": 1
          }
        ]
      },
      "ListPlayersByFirstNameRequestDto": {
        "properties": {
          "firstname": {
            "type": "string",
            "minLength": 1,
            "title": "Firstname",
            "description": "First name prefix to search. Values are case-insensitive."
          },
          "lastname": {
            "type": "string",
            "title": "Lastname",
            "description": "Optional last name prefix filter. Use an empty string or omit it to search by first name only.",
            "default": ""
          },
          "pageSize": {
            "type": "integer",
            "maximum": 100.0,
            "minimum": 1.0,
            "title": "Pagesize",
            "description": "Number of records to return. Must be between 1 and 100.",
            "default": 50
          },
          "lastEvaluatedKey": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Lastevaluatedkey",
            "description": "Omit on the first request. For the next page, pass the exact lastEvaluatedKey object returned by the previous response."
          }
        },
        "type": "object",
        "required": [
          "firstname"
        ],
        "title": "ListPlayersByFirstNameRequestDto",
        "examples": [
          {
            "firstname": "LeBron",
            "lastname": "James",
            "pageSize": 25
          }
        ]
      },
      "ListPlayersByFirstNameResponseDto": {
        "properties": {
          "body": {
            "items": {
              "$ref": "#/components/schemas/PlayerMetadataDto"
            },
            "type": "array",
            "title": "Body"
          },
          "totalItems": {
            "type": "integer",
            "title": "Totalitems"
          },
          "pageSize": {
            "type": "integer",
            "title": "Pagesize"
          },
          "lastEvaluatedKey": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Lastevaluatedkey"
          },
          "responseCode": {
            "type": "integer",
            "title": "Responsecode",
            "default": 200
          }
        },
        "type": "object",
        "required": [
          "body",
          "totalItems",
          "pageSize"
        ],
        "title": "ListPlayersByFirstNameResponseDto",
        "examples": [
          {
            "body": [
              {
                "accolades": [],
                "birthPlace": "Akron, Ohio",
                "dateBorn": "December 30, 1984",
                "draftInfo": "2003: Rd 1, Pk 1 (CLE)",
                "firstName": "LeBron",
                "headshotUrl": "https://www.basketball-reference.com/req/202106291/images/headshots/jamesle01.jpg",
                "height": "6-9",
                "hofInductionInfo": null,
                "lastName": "James",
                "nbaDebut": "October 29, 2003",
                "playerId": "jamesle01",
                "positions": "Small Forward, Power Forward, Point Guard",
                "teams": [],
                "weight": "250lb"
              }
            ],
            "lastEvaluatedKey": null,
            "pageSize": 25,
            "responseCode": 200,
            "totalItems": 1
          }
        ]
      },
      "ListPlayersByLastNameRequestDto": {
        "properties": {
          "prefix": {
            "type": "string",
            "minLength": 1,
            "title": "Prefix",
            "description": "Last name prefix to search. Values are case-insensitive."
          },
          "pageSize": {
            "type": "integer",
            "maximum": 100.0,
            "minimum": 1.0,
            "title": "Pagesize",
            "description": "Number of records to return. Must be between 1 and 100.",
            "default": 50
          },
          "lastEvaluatedKey": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Lastevaluatedkey",
            "description": "Omit on the first request. For the next page, pass the exact lastEvaluatedKey object returned by the previous response."
          }
        },
        "type": "object",
        "required": [
          "prefix"
        ],
        "title": "ListPlayersByLastNameRequestDto",
        "examples": [
          {
            "pageSize": 25,
            "prefix": "James"
          }
        ]
      },
      "ListPlayersByLastNameResponseDto": {
        "properties": {
          "body": {
            "items": {
              "$ref": "#/components/schemas/PlayerMetadataDto"
            },
            "type": "array",
            "title": "Body"
          },
          "totalItems": {
            "type": "integer",
            "title": "Totalitems"
          },
          "pageSize": {
            "type": "integer",
            "title": "Pagesize"
          },
          "lastEvaluatedKey": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Lastevaluatedkey"
          },
          "responseCode": {
            "type": "integer",
            "title": "Responsecode",
            "default": 200
          }
        },
        "type": "object",
        "required": [
          "body",
          "totalItems",
          "pageSize"
        ],
        "title": "ListPlayersByLastNameResponseDto",
        "examples": [
          {
            "body": [
              {
                "accolades": [],
                "birthPlace": "Akron, Ohio",
                "dateBorn": "December 30, 1984",
                "draftInfo": "2003: Rd 1, Pk 1 (CLE)",
                "firstName": "LeBron",
                "headshotUrl": "https://www.basketball-reference.com/req/202106291/images/headshots/jamesle01.jpg",
                "height": "6-9",
                "hofInductionInfo": null,
                "lastName": "James",
                "nbaDebut": "October 29, 2003",
                "playerId": "jamesle01",
                "positions": "Small Forward, Power Forward, Point Guard",
                "teams": [],
                "weight": "250lb"
              }
            ],
            "lastEvaluatedKey": null,
            "pageSize": 25,
            "responseCode": 200,
            "totalItems": 1
          }
        ]
      },
      "ListPlayersRequestDto": {
        "properties": {
          "pageSize": {
            "type": "integer",
            "maximum": 100.0,
            "minimum": 1.0,
            "title": "Pagesize",
            "description": "Number of records to return. Must be between 1 and 100.",
            "default": 50
          },
          "lastEvaluatedKey": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Lastevaluatedkey",
            "description": "Omit on the first request. For the next page, pass the exact lastEvaluatedKey object returned by the previous response."
          }
        },
        "type": "object",
        "title": "ListPlayersRequestDto",
        "examples": [
          {
            "pageSize": 25
          }
        ]
      },
      "ListPlayersResponseDto": {
        "properties": {
          "body": {
            "items": {
              "$ref": "#/components/schemas/PlayerMetadataDto"
            },
            "type": "array",
            "title": "Body"
          },
          "lastEvaluatedKey": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Lastevaluatedkey"
          },
          "totalItems": {
            "type": "integer",
            "title": "Totalitems"
          },
          "responseCode": {
            "type": "integer",
            "title": "Responsecode",
            "default": 200
          }
        },
        "type": "object",
        "required": [
          "body",
          "totalItems"
        ],
        "title": "ListPlayersResponseDto",
        "examples": [
          {
            "body": [
              {
                "accolades": [],
                "birthPlace": "Akron, Ohio",
                "dateBorn": "December 30, 1984",
                "draftInfo": "2003: Rd 1, Pk 1 (CLE)",
                "firstName": "LeBron",
                "headshotUrl": "https://www.basketball-reference.com/req/202106291/images/headshots/jamesle01.jpg",
                "height": "6-9",
                "hofInductionInfo": null,
                "lastName": "James",
[...]
